.cabecalhoPrincipal .container {
    display: flex; /*orientação vertical*/
    align-items: center; /*alinha pelo centro*/
    justify-content: space-between; /*espaço entre dois elementos*/
}

.cabecalhoPrincipal-nav{
    display: flex;
}